# Do not contain !, @, &, or any other special character that needs to be escaped.
# SQLModel somehow doesn't support wrapping with '', so must not contain those.
# Otherwise, SQLModel will fail to communicate with the DB servers.
DB_USER="bookstore"
DB_PASS=""
DB_URL=""
API_SERVICES_URL=""
GEMINI_API_KEY=""
