# Note: When running as a Docker container, pass these values as env variables:
#   > sudo docker run ... \ 
#   >   -e BOOKSTORE_BACKEND_DB_USER="bookstore_main_db" \
#   >   -e BOOKSTORE_BACKEND_DB_PASS="<SNIP>" \
#   >   -e GEMINI_API_KEY="<SNIP>"
BOOKSTORE_BACKEND_DB_USER="bookstore"

# Note: This .env file is used only for dev purposes.
# That is: when we run `uv run fastapi dev`. For running in AWS,
# this .env file is not used. Instead, these values are passed with `docker run -e ...`
# Do not contain !, @, &, or any other special character that needs to be escaped.
# SQLModel somehow doesn't support wrapping with '', so must not contain those.
BOOKSTORE_BACKEND_DB_PASS=""
BOOKSTORE_BACKEND_DB_URL=""
GEMINI_API_KEY=""
