# Note: When running as a Docker container, pass these values as env variables:
#   > sudo docker run ... \ 
#   >   -e BOOKSTORE_BACKEND_DB_USER="bookstore_main_db" \
#   >   -e BOOKSTORE_BACKEND_DB_PASS="<SNIP>" \
#   >   -e GEMINI_API_KEY="<SNIP>"
BOOKSTORE_BACKEND_DB_USER="bookstore_main_db"
BOOKSTORE_BACKEND_DB_PASS=""
GEMINI_API_KEY=""