# Note: When running as a Docker container, pass these values as env variables:
#   > sudo docker run ... \ 
#   >   -e BOOKSTORE_BACKEND_DB_USER="bookstore_main_db" \
#   >   -e BOOKSTORE_BACKEND_DB_PASS="<SNIP>" \
#   >   -e GEMINI_API_KEY="<SNIP>"
BOOKSTORE_BACKEND_DB_USER="bookstore"

# Do not contain !, @, &, or any other special character that needs to be escaped.
# SQLModel somehow doesn't support wrapping with '', so must not contain those.
BOOKSTORE_BACKEND_DB_PASS=""
BOOKSTORE_BACKEND_DB_URL=""